<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="header">
    <a href="#" class="header_img">
      <img src="../../assets/img/Logo Web 2.png" alt="startup">
    </a>
    <nav class="nav">
      <ul class="nav_items">
        <li class="martop" ><a href="#">Home</a></li>
        <li class="martop"><a href="#features">Features</a></li>
        <li class="martop"><a href="#Integration">Integration</a></li>
        <li class="martop"><a href="#Pricing">Pricing</a></li>
        <li class="martop"><a href="#Customers">Customers</a></li>
        <li class="martop"><a href="#Login">Login</a></li>
        <li style="margin-top:10px ;"> <button style="font: normal normal normal 16px/20px Proxima Nova;background-color: #ff4500ba;"
            class="btn btn-primary">Add Lising <a style="color: #ff4500ba;
            text-decoration: none;
            background: white;
            border-radius: 2px;
            padding: 2px;">Free</a></button> </li>
      </ul>
    </nav>
  </div>
  <section class="header-section">
    <div>
      <h1 class="header-section_title">
        Private <span style="color: #FF6E00;" class="header-section_word">Offices</span> And Workspaces
      </h1>
      <h3 style="margin-top: 70px;margin-bottom: 70px;"> Grow your business in Hamilton with flexible offices and workspaces in a modern coworking environment built
        for small businesses and teams</h3>

      <button style="background-color:white;color:#FF6E00;width: 150px;
      height: 50px;" class="btn"><i style="color:#FF6E00" class="fa fa-play-circle-o"></i> Home</button>

      <button class="btn">Book Now</button>
      <nav style="margin: 20px;" class="nav">
        <ul class="nav_items">
          <li style="color: #FF6E00;"><a href="#private">PRIVATE OFFICE</a></li>
          <li style="color: #FF6E00;"><a href="#desk">DEDICATED DESK</a></li>
          <li style="color: #FF6E00;"><a href="#shared">SHARED DESK</a></li>
        </ul>
      </nav>
    </div>
    <div> <img class="header-section_image" src="../../assets/img/12938.png" alt="header-image"></div>
  </section>
</header>
<body>
  <div>
    <h2 style="width: 90%;" class="h2tag">Featured Coworking Space  <h4 style="float: right;padding-right: 100px;"> <a href=""> View More </a><i style="color: #FF6E00;" class="fa fa-arrow-right"></i></h4></h2>
    
   
  </div>
  <hr>
</body>

<div style="margin: 10%;">
  <div style="float:left;" class="container-fluid padding" >
    <div class="row padding" >
      <div class="col-md-4 " >
        <div class="card" >
  <img style="width: 315px;
  height: 300px;" class="card-img-top" src="../../assets/img/Image 143.png" alt="">
  <div class="card-body" >
    <h4 class="card-title" style="font-weight: bold;" >Bhoston House, Andeeri east</h4>
  <a class="btn btn-outline-secondary" href="https://www.facebook.com/mohannaidu.uppalapati" target="_blank">See Profile</a>
  </div>
</div>
      </div>
    </div>
  </div>
</div>