<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="header">
    <a href="#" class="header_img">
      <img src="../../assets/img/Logo Web 2.png" alt="startup">
    </a>
    <nav class="nav">
      <ul class="nav_items">
        <li class="martop"><a href="#">Home</a></li>
        <li class="martop"><a href="#features">Features</a></li>
        <li class="martop"><a href="#Integration">Integration</a></li>
        <li class="martop"><a href="#Pricing">Pricing</a></li>
        <li class="martop"><a href="#Customers">Customers</a></li>
        <li class="martop"><a href="#Login">Login</a></li>
        <li style="margin-top:10px ;"> <button
            style="font: normal normal normal 16px/20px Proxima Nova;background-color: #ff4500ba;"
            class="btn btn-primary">Add Lising <a style="color: #ff4500ba;
            text-decoration: none;
            background: white;
            border-radius: 2px;
            padding: 2px;">Free</a></button> </li>
      </ul>
    </nav>
  </div>
  <section class="header-section">
    <div>
      <h1 class="header-section_title">
        Private <span style="color: #FF6E00;" class="header-section_word">Offices</span> And Workspaces
      </h1>
      <h3 style="margin-top: 70px;margin-bottom: 70px;"> Grow your business in Hamilton with flexible offices and
        workspaces in a modern coworking environment built
        for small businesses and teams</h3>

      <button style="background-color:white;color:#FF6E00;width: 150px;
      height: 50px;" class="btn"><i style="color:#FF6E00" class="fa fa-play-circle-o"></i> Watch Video</button>

      <button class="btn">Book Now</button>
      <nav style="margin: 20px;" class="nav">
        <ul class="nav_items">
          <li style="color: #FF6E00;"><a href="#private">PRIVATE OFFICE</a></li>
          <li style="color: #FF6E00;"><a href="#desk">DEDICATED DESK</a></li>
          <li style="color: #FF6E00;"><a href="#shared">SHARED DESK</a></li>
        </ul>
      </nav>
    </div>
    <div> <img class="header-section_image" src="../../assets/img/12938.png" alt="header-image"></div>
  </section>
</header>

<body>
  <div>
    <h2 style="width: 90%;" class="h2tag">Featured Coworking Space <h4 style="float: right;padding-right: 100px;"> <a
          href=""> View More </a><i style="color: #FF6E00;" class="fa fa-arrow-right"></i></h4>
    </h2>


  </div>
  <hr>
  <div #cards style="margin-left: 10%;" class="row">
    <div class="col-sm-3"> 
      <div class="card">
            <img style="width: 255px;
    height: 300px; " class="card-img-top" src="../../assets/img/Image 139.png" alt="">
            <div class="card-body" >
              <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
                <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
              </p>
              <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
              <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
                  Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                    src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
              <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                    alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                    src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                    <button style="background-color:white;color:#FF6E00;width: 150px;
                    height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                    src="../../assets/img/Feedback.svg" alt="">
            </div>
          </div>
        </div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 255px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 140.png" alt="">
        <div class="card-body" >
          <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
            <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
          </p>
          <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
              Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                <button style="background-color:white;color:#FF6E00;width: 150px;
                height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/Feedback.svg" alt="">
        </div>
      </div></div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 255px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 141.png" alt="">
        <div class="card-body" >
          <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
            <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
          </p>
          <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
              Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                <button style="background-color:white;color:#FF6E00;width: 150px;
                height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/Feedback.svg" alt="">
        </div>
      </div></div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 255px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 143.png" alt="">
        <div class="card-body" >
          <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
            <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
          </p>
          <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
              Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                <button style="background-color:white;color:#FF6E00;width: 150px;
                height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/Feedback.svg" alt="">
        </div>
      </div></div>
  </div>
  <section class="header-section">
    <div style="width: 50%;">
      <h2 >
        Enterprise Coworking™ Our Trademark Says It All
      </h2>
      <div class="column">
        <div class="row-sm-4">
          <span><img class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> <h2 style="font-style: bold; display: inline; padding-left: 30px;">High Speed Wifi</h2></span>
        </div>
        </div>
    </div>
    <div> <img class="header-section_image" src="../../assets/img/team-meeting-hand-shake.png" alt="header-image"></div>
  </section>
<!-- Feedback -->
  <div>
    <h2 style="width: 90%;" class="h2tag">Your Satisfaction is out priority     </h2>
  </div>
  <div style="margin-left: 10%;" class="row">
    <div class="col-sm-3"> 
      <div class="card">
            <img style="width: 255px;
    height: 300px; " class="card-img-top" src="../../assets/img/Image 139.png" alt="">
            <div class="card-body" >
              <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
                <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
              </p>
              <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
              <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
                  Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                    src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
              <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                    alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                    src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                    <button style="background-color:white;color:#FF6E00;width: 150px;
                    height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                    src="../../assets/img/Feedback.svg" alt="">
            </div>
          </div>
        </div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 255px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 140.png" alt="">
        <div class="card-body" >
          <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
            <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
          </p>
          <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
              Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                <button style="background-color:white;color:#FF6E00;width: 150px;
                height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/Feedback.svg" alt="">
        </div>
      </div></div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 255px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 141.png" alt="">
        <div class="card-body" >
          <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
            <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
          </p>
          <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
              Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                <button style="background-color:white;color:#FF6E00;width: 150px;
                height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/Feedback.svg" alt="">
        </div>
      </div></div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 255px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 143.png" alt="">
        <div class="card-body" >
          <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
            <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
          </p>
          <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
              Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                <button style="background-color:white;color:#FF6E00;width: 150px;
                height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/Feedback.svg" alt="">
        </div>
      </div></div>
  </div>
</body>
