<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="header">
    <a href="#" class="header_img">
      <img src="../../assets/img/Logo Web 2.png" alt="startup">
    </a>
    <nav class="nav">
      <ul class="nav_items">
        <li class="martop"><a href="#">Home</a></li>
        <li class="martop"><a href="#features">Features</a></li>
        <li class="martop"><a href="#Integration">Integration</a></li>
        <li class="martop"><a href="#Pricing">Pricing</a></li>
        <li class="martop"><a href="#Customers">Customers</a></li>
        <li class="martop"><a href="#Login">Login</a></li>
        <li style="margin-top:10px ;"> <button
            style="font: normal normal normal 16px/20px Proxima Nova;background-color: #ff4500ba;"
            class="btn btn-primary">Add Lising <a style="color: #ff4500ba;
            text-decoration: none;
            background: white;
            border-radius: 2px;
            padding: 2px;">Free</a></button> </li>
      </ul>
    </nav>
  </div>
  <section class="header-section">
    <div>
      <h1 class="header-section_title">
        Private <span style="color: #FF6E00;" class="header-section_word">Offices</span> And Workspaces
      </h1>
      <h3 style="margin-top: 70px;margin-bottom: 70px;"> Grow your business in Hamilton with flexible offices and
        workspaces in a modern coworking environment built
        for small businesses and teams</h3>

      <button style="background-color:white;color:#FF6E00;width: 150px;
      height: 50px;" class="btn"><i style="color:#FF6E00" class="fa fa-play-circle-o"></i> Watch Video</button>

      <button class="btn">Book Now</button>
      <nav style="margin: 20px;" class="nav">
        <ul class="nav_items">
          <li style="color: #FF6E00;"><a href="#private">PRIVATE OFFICE</a></li>
          <li style="color: #FF6E00;"><a href="#desk">DEDICATED DESK</a></li>
          <li style="color: #FF6E00;"><a href="#shared">SHARED DESK</a></li>
        </ul>
      </nav>
    </div>
    <div> <img class="header-section_image" src="../../assets/img/12938.png" alt="header-image"></div>
  </section>
</header>

<body>
  <div #features>
    <h2 style="width: 90%;" class="h2tag">Featured Coworking Space <h4 style="float: right;padding-right: 100px;"> <a
          href=""> View More </a><i style="color: #FF6E00;" class="fa fa-arrow-right"></i></h4>
    </h2>


  </div>
  <hr>
  <div #cards style="margin-left: 10%;" class="row">
    <div class="col-sm-3"> 
      <div class="card">
            <img style="width: 255px;
    height: 300px; " class="card-img-top" src="../../assets/img/Image 139.png" alt="">
            <div class="card-body" >
              <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
                <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
              </p>
              <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
              <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
                  Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                    src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
              <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                    alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                    src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                    <button style="background-color:white;color:#FF6E00;width: 150px;
                    height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                    src="../../assets/img/Feedback.svg" alt="">
            </div>
          </div>
        </div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 255px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 140.png" alt="">
        <div class="card-body" >
          <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
            <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
          </p>
          <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
              Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                <button style="background-color:white;color:#FF6E00;width: 150px;
                height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/Feedback.svg" alt="">
        </div>
      </div></div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 255px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 141.png" alt="">
        <div class="card-body" >
          <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
            <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
          </p>
          <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
              Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                <button style="background-color:white;color:#FF6E00;width: 150px;
                height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/Feedback.svg" alt="">
        </div>
      </div></div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 255px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 143.png" alt="">
        <div class="card-body" >
          <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
            <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
          </p>
          <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
              Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                <button style="background-color:white;color:#FF6E00;width: 150px;
                height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/Feedback.svg" alt="">
        </div>
      </div></div>
  </div>
  <section class="header-section">
    <div style="width: 90%;">
      <h2 style="margin-top: 50px;">
        Enterprise Coworking™ Our Trademark Says It All
      </h2>
      <div class="column">
        <div class="row-sm-4">
          <span><img class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> <h2 style="font-style: bold; display: inline; padding-left: 30px;">High Speed Wifi</h2></span>
          <p style="padding: 20px;">Work from any corner on the entire floor without any interruption. Work from any corner on the entire floor without any interruption</p>
        </div>
        <div style="background-color: #FF6E00;padding: 15px;border-radius: 2px;" class="row-sm-4">
          <span><img class="card-img-top" src="../../assets/img/coffee.png" alt=""> <h2 style="font-style: bold; display: inline; padding-left: 30px;">All day Tea/Coffee</h2></span>
          <p style="padding: 5px;">Work from any corner on the entire floor without any interruption. Work from any corner on the entire floor without any interruption</p>
        </div>
        <div style="padding: 15px;" class="row-sm-4">
          <span><img class="card-img-top" src="../../assets/img/armchair.svg" alt=""> <h2 style="font-style: bold; display: inline; padding-left: 30px;">High Speed Wifi</h2></span>
          <p style="padding: 20px;">Work from any corner on the entire floor without any interruption. Work from any corner on the entire floor without any interruption</p>
        </div>
        </div>
    </div>
    <div> <img class="header-section_image" src="../../assets/img/team-meeting-hand-shake.png" alt="header-image"></div>
  </section>
  <!-- Spaces -->
  <div>
    <h2 style="width: 90%;" class="h2tag">Spaces Around the World<h4 style="float: right;padding-right: 100px;"> <a
      href=""> View More </a><i style="color: #FF6E00;" class="fa fa-arrow-right"></i></h4>
</h2>
  </div>
  <div style="margin-left: 10%;" class="row">
    <div class="col-sm-2"> 
      <div class="card">
            <img style="width: 195px;
    height: 300px; " class="card-img-top" src="../../assets/img/Image 145.png" alt="">
            <div class="card-body" >
              <h4 class="card-title" style="font-weight: bold;">Ocean Golden</h4>
              <p class="card-title" >Pitt Street Kirribilli NSW 2061</p>
            </div>
          </div>
        </div>
    <div class="col-sm-2"> 
      <div class="card">
        <img style="width: 195px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 146.png" alt="">
        <div class="card-body" >
          <h4 class="card-title" style="font-weight: bold;">TheMadbrains</h4>
          <p class="card-title" >Pitt Street Kirribilli NSW 2061</p>
        </div>
      </div></div>
    <div class="col-sm-2"> 
      <div class="card">
        <img style="width: 195px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 147.png" alt="">
        <div class="card-body" >
          <h4 class="card-title" style="font-weight: bold;">Paranjape Towers</h4>
          <p class="card-title" >Pitt Street Kirribilli NSW 2061</p>
        </div>
      </div></div>
    <div class="col-sm-2"> 
      <div class="card">
        <img style="width: 195px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 148.png" alt="">
        <div class="card-body" >
          <h4 class="card-title" style="font-weight: bold;">M3M Woodshire</h4>
          <p class="card-title" >Pitt Street Kirribilli NSW 2061</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2"> 
      <div class="card">
        <img style="width: 195px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 144.png" alt="">
        <div class="card-body" >
          <h4 class="card-title" style="font-weight: bold;">M3M Woodshire</h4>
          <p class="card-title" >Pitt Street Kirribilli NSW 2061</p>
        </div>
      </div>
    </div>
  </div>
<!-- Feedback -->
  <div>
    <h2 style="width: 90%;" class="h2tag">Your Satisfaction is out priority     </h2>
  </div>
  <div style="margin-left: 10%;" class="row">
    <div class="col-sm-3"> 
      <div class="card">
            <img style="width: 255px;
    height: 300px; " class="card-img-top" src="../../assets/img/Image 139.png" alt="">
            <div class="card-body" >
              <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
                <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
              </p>
              <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
              <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
                  Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                    src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
              <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                    alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                    src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                    <button style="background-color:white;color:#FF6E00;width: 150px;
                    height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                    src="../../assets/img/Feedback.svg" alt="">
            </div>
          </div>
        </div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 255px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 140.png" alt="">
        <div class="card-body" >
          <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
            <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
          </p>
          <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
              Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                <button style="background-color:white;color:#FF6E00;width: 150px;
                height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/Feedback.svg" alt="">
        </div>
      </div></div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 255px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 141.png" alt="">
        <div class="card-body" >
          <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
            <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
          </p>
          <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
              Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                <button style="background-color:white;color:#FF6E00;width: 150px;
                height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/Feedback.svg" alt="">
        </div>
      </div></div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 255px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 143.png" alt="">
        <div class="card-body" >
          <p class="card-title" style="font-weight: bold;">Bhoston House, Andeeri east
            <img style="font-size: 1em;" class="card-img-top" src="../../assets/img/Heart icon.svg" alt="">
          </p>
          <h4>$ 14,299 <s class="pad60px">$ 28598</s></h4>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/wifi-router.svg" alt=""> 100
              Mbps</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/cctv.svg" alt=""> Yes</span> </p>
          <p><span><img style=" width: 20px;" class="card-img-top" src="../../assets/img/coffee-cup.svg"
                alt=""> Unlimited</span> &nbsp; <span  class="pad60px"><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/user.svg" alt=""> Onsite</span> </p>
                <button style="background-color:white;color:#FF6E00;width: 150px;
                height: 50px;" class="btn"> Book Now</button><img style="font-size: 1em;" class="card-img-top"
                src="../../assets/img/Feedback.svg" alt="">
        </div>
      </div></div>
  </div>

  <div class="container1" style="border: 4px; box-shadow: 5px #FF6E00; border-radius: 5px;">
    <img style="opacity: 0.8;width: 100%; padding-left: 50px;"  src="../../assets/img/Image 151@0.5.png" alt="">
    <i style="font-size: 4em; color:#FF6E00;position: absolute;bottom: 200px;left: 600px;" class="fa fa-play-circle-o"></i>
  </div>

  <div style="margin-left: 10%;" class="row">
    <div class="col-sm-3"> 
      <div class="card">
            <img style="width: 275px;
    height: 300px; " class="card-img-top" src="../../assets/img/Image 156.png" alt="">
            <div class="card-body" >
              <h4 class="card-title" style="font-weight: bold;">Cleanliness Tips as You Cowork</h4>
              <p class="card-title" >Work from any corner on the entire floor without any interruption. Work from any corner on the entire floor without any interruption</p>
            </div>
          </div>
        </div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 275px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 157.png" alt="">
        <div class="card-body" >
          <h4 class="card-title" style="font-weight: bold;">Awards, Happenings, Spaces</h4>
          <p class="card-title" >Work from any corner on the entire floor without any interruption. Work from any corner on the entire floor without any interruption</p>
        </div>
      </div></div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 275px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 158.png" alt="">
        <div class="card-body" >
          <h4 class="card-title" style="font-weight: bold;">Ranking the World’s Fastest</h4>
          <p class="card-title" >Work from any corner on the entire floor without any interruption. Work from any corner on the entire floor without any interruption</p>
        </div>
      </div></div>
    <div class="col-sm-3"> 
      <div class="card">
        <img style="width: 275px;
height: 300px; " class="card-img-top" src="../../assets/img/Image 159.png" alt="">
        <div class="card-body" >
          <h4 class="card-title" style="font-weight: bold;">4 Unique Features of Servcorp’s</h4>
          <p class="card-title" >Work from any corner on the entire floor without any interruption. Work from any corner on the entire floor without any interruption</p>
        </div>
      </div>
    </div>
  </div>
</body>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <p class="text-justify">
            <img src="../../assets/img/Logo Web 2.png" alt="startup">
          </p>
          <p> Coworking a Directory Listing xd Website Template. Its complete design systems for your real estate or realtor project. Its build with Bootstrap framework. </p>
       <p>1800 123 345 789
          3 Doris St, 
          North Sydney, 
          NSW 2060</p> </div>

        <div class="col-xs-6 col-md-2">
          <h6>Popular Search</h6>
          <ul class="footer-links">
            <li><a> Search Spaces</a></li>
            <li><a>Search by City</a></li>
            <li><a>Top Rated Spaces</a></li>
            <li><a>Coworking Map</a></li>
            <li><a>Shared Office</a></li>
            <li><a>Space Meeting Rooms</a></li>
            <li><a>TEDx Host Spaces</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-2">
          <h6>Type Coworking</h6>
          <ul class="footer-links">
            <li><a > Coworking space</a></li>
            <li><a >Meeting space</a></li>
            <li><a >Office space</a></li>
            <li><a >Retail Space</a></li>
            <li><a >Event space</a></li>
            <li><a >Virtaul space</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-2">
          <h6>Company</h6>
          <ul class="footer-links">
            <li><a >About Us</a></li>
            <li><a >Careers</a></li>
            <li><a >Blog</a></li>
            <li><a >Terms & Conditions</a></li>
            <li><a >Privacy Policy</a></li>
            <li><a >Rental Agreement</a></li>
          <li><a >Testimonials</a></li>
          <li><a >SiteMap</a></li>
          <li><a >FAQ</a></li>
        </ul>
        </div>
        <div class="col-xs-6 col-md-2">
          <h6>LOCATIONS</h6>
          <ul class="footer-links">
           <li><a> Coworking Space in Chennai</a></li>
            <li><a> Coworking Space in Hyderabd</a></li>
            <li><a> Coworking Space in Bengalur</a></li>
            <li><a> Coworking Space in Pune</a></li>
            <li><a> Coworking Space in Harayana</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; All Rights Reserved
       <a href="#"></a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
      <p>Designed By Mouri</p>
        </div>
      </div>
    </div>
</footer>